# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Builds
*/release/*
*/debug/*
*/build/*

# Latex build files
*.synctex*
*.log
*.fls
*.aux
*.fdb*

# Bash script makings
*.zip

# Tests
*.log
*results-run1.csv
tests*/*
times/*

bs
rf

data/kron*
data/soc*